* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: green;
  height: 100vh;
  width: 100vw;
}

.btn {
  outline: none;
  font-weight: 700;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  color: rgb(7, 87, 7);
  background: transparent;
  border: 2px solid rgb(7, 87, 7);
  font-size: medium;
  font-family: "Josefin Sans", sans-serif;
}

#submit-btn {
  background: rgb(7, 87, 7);
  color: #fff;
  margin-right: 10px;
}

/* Desktop screen only */
@media screen and (min-width: 1201px) {
  /* main container */
  #container {
    height: 75vh;
    width: 40vw;
    position: relative;
    left: 30%;
    top: 13%;
    border: 1px solid #fff;
    border-top: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
  }

  /* top header */

  #header-title {
    height: 90%;
    width: 90%;
    position: relative;
    top: 15px;
    left: 30px;
    padding-bottom: 20px;
  }

  .input-box {
    width: 300px;
    margin-top: 10px;
    padding: 5px 10px;
    border: 2px solid rgb(7, 87, 7);
    border-radius: 3px;
    outline: none;
    color: rgb(7, 87, 7);
    font-size: 1rem;
  }

  #age {
    width: 100px;
  }

  #gender {
    width: 195px;
  }

  #height {
    width: 195px;
  }

  #length-type {
    width: 100px;
  }

  select option {
    background: rgb(7, 87, 7);
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
  }

  /* button box */
  #btn-box {
    padding: 20px;
  }

  /* BMI output box */
  #bmi-output {
    height: 40%;
    width: 100%;
    margin-top: 5px;
    padding: 10px 10px;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: red; */
    border-top: 1.5px solid rgb(7, 87, 7);
  }

  #bmi-output h2{
    font-size: 2.5rem;
    font-family: "Josefin Sans", sans-serif;
    color:rgb(7, 87, 7);
    line-height: 3ch;
  }
}

/* Tablet screen only */
@media screen and (min-width: 600px) and (max-width: 1200px) {

    body{
        background: #fff;
    }

  /* main container */
  #container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
  }

  /* top header */

  #header-title {
    height: 90%;
    width: 80%;
    position: relative;
    top: 5%;
    left: 10%;
    padding-bottom: 20px; 
  }

  .input-box {
    width: 500px;
    margin-top: 10px;
    padding: 5px 10px;
    border: 2px solid rgb(7, 87, 7);
    border-radius: 3px;
    outline: none;
    color: rgb(7, 87, 7);
    font-size: 1.3rem;
  }

  #age {
    width: 200px;
  }

  #gender {
    width: 295px;
  }

  #height {
    width: 295px;
  }

  #length-type {
    width: 200px;
  }

  select option {
    background: rgb(7, 87, 7);
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
  }

  /* button box */
  #btn-box {
    padding: 20px;
  }

  .btn {
    outline: none;
    font-weight: 700;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(7, 87, 7);
    background: transparent;
    border: 2px solid rgb(7, 87, 7);
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
  }
  
  /* BMI output box */
  #bmi-output {
    height: 40%;
    width: 100%;
    margin-top: 5px;
    padding: 10px 10px;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: red; */
    border-top: 1.5px solid rgb(7, 87, 7);
  }

  #bmi-output h2{
    font-size: 2.5rem;
    font-family: "Josefin Sans", sans-serif;
    color:rgb(7, 87, 7);
    line-height: 3ch;
  }
}

/* Mobile screen only */
@media screen and (min-width: 300px) and (max-width: 599px) {
    body{
        background: #fff;
    }

  /* main container */
  #container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    padding-top: 50px;
  }

  /* top header */

  #header-title {
    height: 100%;
    width: 90%;
    position: relative;
    top: 5%;
    left: 5%;
    padding-bottom: 20px; 
  }

  .input-box {
    width: 90vw;
    margin-top: 10px;
    padding: 3px 7px;
    border: 2px solid rgb(7, 87, 7);
    border-radius: 3px;
    outline: none;
    color: rgb(7, 87, 7);
    font-size: 1.15rem;
  }

  #age {
    /* width: 200px; */
    width: 30vw;
  }

  #gender {
    width: 59vw;
  }

  #height {
    width: 59vw;
  }

  #length-type {
    width: 30vw;
  }

  select option {
    background: rgb(7, 87, 7);
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
  }

  /* button box */
  #btn-box {
    padding: 20px;
  }

  .btn {
    outline: none;
    font-weight: 700;
    padding: 5.5px 8.9px;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(7, 87, 7);
    background: transparent;
    border: 2px solid rgb(7, 87, 7);
    font-size: 1.1rem;
    font-family: "Josefin Sans", sans-serif;
  }
  
  /* BMI output box */
  #bmi-output {
    height: 40%;
    width: 100%;
    margin-top: 5px;
    padding: 10px 10px;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: red; */
    border-top: 1.5px solid rgb(7, 87, 7);
  }

  #bmi-output h2{
    font-size: 2.3rem;
    font-family: "Josefin Sans", sans-serif;
    color:rgb(7, 87, 7);
    line-height: 2.5ch;
  }
}

